################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Build results
bin/
obj/
runtimes/

# Compiled binaries and executables
*.dll
*.exe
*.pdb
*.so
*.dylib

# Visual Studio cache/options
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Entity Framework migrations
Migrations/

# NuGet
*.nupkg
*.snupkg
.nuget/

# Rider
.idea/
*.sln.iml

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# GitHub and Visual Studio
.github/
